version: '3.2'

services:

  frontend:
    depends_on:
      - mysql
    build: frontend
    ports:
      - 20080:80
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app

  backend:
    depends_on:
      - mysql
    build: backend
    ports:
      - 21080:80
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app

  mysql:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_general_ci
    volumes:
    - ./db.sql:/docker-entrypoint-initdb.d/000db.sql:ro
    - ./src/converters/categories.sql:/docker-entrypoint-initdb.d/1categories.sql:ro
    - ./src/converters/cities.sql:/docker-entrypoint-initdb.d/2cities.sql:ro
    - ./src/converters/users.sql:/docker-entrypoint-initdb.d/3users.sql:ro
    - ./src/converters/profiles.sql:/docker-entrypoint-initdb.d/4profiles.sql:ro
    - ./src/converters/tasks.sql:/docker-entrypoint-initdb.d/5tasks.sql:ro
    - ./src/converters/replies.sql:/docker-entrypoint-initdb.d/6replies.sql:ro
    - ./src/converters/reviews.sql:/docker-entrypoint-initdb.d/7reviews.sql:ro
    environment:
      - MYSQL_ROOT_PASSWORD=verysecret
      - MYSQL_DATABASE=yii2advanced
      - MYSQL_USER=yii2advanced
      - MYSQL_PASSWORD=secret

  #pgsql:
  #  image: postgres:9.5
  #  environment:
  #    - POSTGRES_DB=yii2advanced
  #    - POSTGRES_USER=yii2advanced
  #    - POSTGRES_PASSWORD=secret